Repository joefairburn/wavo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: pnpm exec oxfmt {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm exec oxlint {staged_files}

chore: add .env to .gitignore
  .gitignore
Due: none

chore: add .env to .gitignore (#5)
  .gitignore
Due: none

feat: add bundle size reporting to PRs
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: format

chore: reduce size-limit threshold to 5 kB
  package.json
Due: format

fix: use pnpm exec for clean JSON output in size checks
  .github/workflows/ci.yml
Due: none

Add bundle size reporting to PRs (#6)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: format

feat: add gradient support to Progress component and migrate docs from Starlight
  docs/astro.config.mjs
  docs/package.json
  docs/src/components/DynamicWaveformShowcase.tsx
  docs/src/components/Footer.astro
  docs/src/components/Header.astro
  docs/src/components/Sidebar.astro
  docs/src/components/demo-card.astro
  docs/src/config/navigation.ts
  docs/src/config/site.ts
  docs/src/content.config.ts
  docs/src/content/docs/components/wavo-example.tsx
  docs/src/content/docs/guides/quickstart/components/basic-waveform.tsx
  docs/src/content/docs/guides/quickstart/components/waveform-with-progress.tsx
  docs/src/content/docs/guides/quickstart/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/pages/docs/[...slug].astro
  docs/src/pages/index.astro
  pnpm-lock.yaml
  src/components/progress.tsx
  src/index.tsx
Due: format, lint

feat(docs): add prefers-reduced-motion support to waveform showcase
  docs/src/components/DynamicWaveformShowcase.tsx
Due: format, lint

fix(docs): use random waveform for reduced motion instead of curve
  docs/src/components/DynamicWaveformShowcase.tsx
Due: format, lint

chore(docs): remove 'designed for engineers' from footer
  docs/src/pages/index.astro
Due: none

Add gradient support and migrate docs from Starlight (#7)
  docs/astro.config.mjs
  docs/package.json
  docs/src/components/DynamicWaveformShowcase.tsx
  docs/src/components/Footer.astro
  docs/src/components/Header.astro
  docs/src/components/Sidebar.astro
  docs/src/components/demo-card.astro
  docs/src/config/navigation.ts
  docs/src/config/site.ts
  docs/src/content.config.ts
  docs/src/content/docs/components/wavo-example.tsx
  docs/src/content/docs/guides/quickstart/components/basic-waveform.tsx
  docs/src/content/docs/guides/quickstart/components/waveform-with-progress.tsx
  docs/src/content/docs/guides/quickstart/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/layouts/BaseLayout.astro
  docs/src/layouts/DocsLayout.astro
  docs/src/pages/docs/[...slug].astro
  docs/src/pages/index.astro
  pnpm-lock.yaml
  src/components/progress.tsx
  src/index.tsx
Due: format, lint

Add MIT license
  LICENSE
Due: none

Add MIT license (#8)
  LICENSE
Due: none

refactor: simplify Progress API and fix gradient flickering
  docs/src/components/resizable-container.tsx
  docs/src/content/docs/components/wavo-example.tsx
  docs/src/content/docs/guides/quickstart/components/basic-waveform.tsx
  docs/src/content/docs/guides/quickstart/components/waveform-with-progress.tsx
  src/components/bars.tsx
  src/components/path.tsx
  src/components/progress.tsx
  src/contexts/waveform-context.tsx
  src/waveform.tsx
Due: format, lint

refactor: simplify Progress API and fix gradient flickering (#9)
  docs/src/components/resizable-container.tsx
  docs/src/content/docs/components/wavo-example.tsx
  docs/src/content/docs/guides/quickstart/components/basic-waveform.tsx
  docs/src/content/docs/guides/quickstart/components/waveform-with-progress.tsx
  src/components/bars.tsx
  src/components/path.tsx
  src/components/progress.tsx
  src/contexts/waveform-context.tsx
  src/waveform.tsx
Due: format, lint

perf: improve audio progress throttling and memoization caching
  src/hooks/use-audio-progress.ts
  src/lib.ts
Due: format, lint

perf: improve audio progress throttling and memoization caching (#10)
  src/hooks/use-audio-progress.ts
  src/lib.ts
Due: format, lint

perf: add imperative API for 60fps animations without re-renders
  docs/src/components/DynamicWaveformShowcase.tsx
  docs/src/hooks/use-fps.ts
  docs/src/hooks/use-prefers-reduced-motion.ts
  docs/src/utils/waveform.ts
  src/components/bars.test.tsx
  src/components/bars.tsx
  src/components/path.test.tsx
  src/components/path.tsx
  src/hooks/use-audio-progress.ts
  src/index.tsx
  src/lib.ts
  vitest.setup.ts
Due: format, lint

perf: add imperative API for 60fps animations without re-renders (#11)
  docs/src/components/DynamicWaveformShowcase.tsx
  docs/src/hooks/use-fps.ts
  docs/src/hooks/use-prefers-reduced-motion.ts
  docs/src/utils/waveform.ts
  src/components/bars.test.tsx
  src/components/bars.tsx
  src/components/path.test.tsx
  src/components/path.tsx
  src/index.tsx
  vitest.setup.ts
Due: format, lint

upgrade: astro v6 beta with updated integrations
  docs/package.json
  docs/src/content.config.ts
  pnpm-lock.yaml
Due: format, lint

upgrade: astro v6 beta with updated integrations (#12)
  docs/package.json
  docs/src/content.config.ts
  pnpm-lock.yaml
Due: format, lint

feat: add Cloudflare Workers deployment for docs site
  docs/package.json
  docs/wrangler.jsonc
  pnpm-lock.yaml
Due: format

style: format wrangler.jsonc
  docs/wrangler.jsonc
Due: none

chore: add pnpm builds approval file
  .pnpm.builds-approved
Due: none

feat: add Cloudflare Workers deployment for docs (#13)
  .pnpm.builds-approved
  docs/package.json
  docs/wrangler.jsonc
  pnpm-lock.yaml
Due: format

fix: remove trailing commas from wrangler.jsonc
  docs/wrangler.jsonc
Due: none

chore: update wrangler compatibility date to 2026-01-25
  docs/wrangler.jsonc
Due: none

fix: exclude wrangler.jsonc from formatter and remove trailing commas
  .prettierignore
  docs/wrangler.jsonc
Due: none

fix: remove trailing commas from wrangler.jsonc (#14)
  .prettierignore
  docs/wrangler.jsonc
Due: none

perf: add passive event listeners to drag operations
  src/hooks/use-interaction.ts
Due: format, lint

perf: optimize calculateSegmentAverage to reduce bundle size
  src/lib.ts
Due: format, lint

perf: add passive event listeners to drag operations (#15)
  src/hooks/use-interaction.ts
  src/lib.ts
Due: format, lint

feat: add comprehensive performance testing suite with benchmarks and memory tests
  .gitignore
  package.json
  scripts/bench-summary.js
  src/components/bars.bench.tsx
  src/components/bars.rerender.test.tsx
  src/components/progress.bench.tsx
  src/components/progress.rerender.test.tsx
  src/lib.bench.ts
  src/lib.memory.test.ts
  vitest.config.ts
Due: format, lint

fix: increase memory test threshold for GC timing variability
  src/lib.memory.test.ts
Due: format, lint

fix: use forks pool with --expose-gc for reliable memory testing
  src/lib.memory.test.ts
  vitest.config.ts
Due: format, lint

feat: add comprehensive performance testing suite (#16)
  .gitignore
  package.json
  scripts/bench-summary.js
  src/components/bars.bench.tsx
  src/components/bars.rerender.test.tsx
  src/components/progress.bench.tsx
  src/components/progress.rerender.test.tsx
  src/lib.bench.ts
  src/lib.memory.test.ts
  vitest.config.ts
Due: format, lint

perf: reduce bundle size by 80 bytes through optimization
  src/components/bars.tsx
  src/components/progress.tsx
  src/hooks/use-interaction.ts
  src/hooks/use-styles.ts
  src/lib.test.ts
  src/lib.ts
  tsdown.config.ts
Due: format, lint

chore: re-enable sourcemaps for debugging
  tsdown.config.ts
Due: format, lint

perf: reduce bundle size by 80 bytes (#17)
  src/components/bars.tsx
  src/components/progress.tsx
  src/hooks/use-interaction.ts
  src/hooks/use-styles.ts
  src/lib.test.ts
  src/lib.ts
  tsdown.config.ts
Due: format, lint

refactor: remove dead shouldAnimate prop from Waveform
  src/waveform.tsx
Due: format, lint
