Repository joefairburn/wavo: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: pnpm exec oxfmt {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm exec oxlint {staged_files}

refactor: remove dead shouldAnimate prop from Waveform (#18)
  src/waveform.tsx
Due: format, lint

docs: expand documentation with components, hooks, examples, and advanced guides
  docs/src/components/Sidebar.astro
  docs/src/config/navigation.ts
  docs/src/content/docs/advanced/css-variables.mdx
  docs/src/content/docs/advanced/custom-audio-sources.mdx
  docs/src/content/docs/advanced/imperative-api.mdx
  docs/src/content/docs/advanced/performance.mdx
  docs/src/content/docs/advanced/styling.mdx
  docs/src/content/docs/api/types.mdx
  docs/src/content/docs/api/utilities.mdx
  docs/src/content/docs/components/bars.mdx
  docs/src/content/docs/components/components/bars-demo.tsx
  docs/src/content/docs/components/components/container-demo.tsx
  docs/src/content/docs/components/components/path-demo.tsx
  docs/src/content/docs/components/components/progress-demo.tsx
  docs/src/content/docs/components/container.mdx
  docs/src/content/docs/components/path.mdx
  docs/src/content/docs/components/progress.mdx
  docs/src/content/docs/examples/accessibility.mdx
  docs/src/content/docs/examples/audio-player.mdx
  docs/src/content/docs/examples/components/accessible-player.tsx
  docs/src/content/docs/examples/components/audio-player.tsx
  docs/src/content/docs/examples/components/realtime.tsx
  docs/src/content/docs/examples/components/voice-message.tsx
  docs/src/content/docs/examples/realtime.mdx
  docs/src/content/docs/examples/voice-message.mdx
  docs/src/content/docs/guides/installation/index.mdx
  docs/src/content/docs/guides/quickstart/index.mdx
  docs/src/content/docs/hooks/use-audio-progress.mdx
  docs/src/content/docs/index.mdx
  docs/src/layouts/BaseLayout.astro
Due: format, lint

fix: resolve drag-to-seek bug, missing SVG titles, and unhandled promise
  docs/src/content/docs/examples/components/accessible-player.tsx
  docs/src/content/docs/examples/components/audio-player.tsx
  docs/src/content/docs/examples/components/realtime.tsx
Due: format, lint

refactor: replace vi.stubGlobal/resetModules with dependency injection in tests
  src/hooks/use-audio-progress.test.ts
  src/hooks/use-audio-progress.ts
  src/hooks/use-interaction.test.tsx
  src/hooks/use-is-client.test.ts
  src/hooks/use-lazy-load.test.ts
  src/hooks/use-lazy-load.ts
  src/hooks/use-styles.test.ts
  src/hooks/use-styles.ts
Due: format, lint

refactor: improve test robustness and extract magic numbers
  src/hooks/use-audio-progress.test.ts
  src/hooks/use-audio-progress.ts
  src/hooks/use-is-client.test.ts
  src/hooks/use-styles.test.ts
Due: format, lint

fix: stabilize DI default references to prevent hook re-execution every render
  src/hooks/use-audio-progress.ts
  src/hooks/use-lazy-load.ts
Due: format, lint

refactor: add comprehensive hook test suites with DI support (#19)
  src/hooks/use-audio-progress.test.ts
  src/hooks/use-audio-progress.ts
  src/hooks/use-interaction.test.tsx
  src/hooks/use-is-client.test.ts
  src/hooks/use-lazy-load.test.ts
  src/hooks/use-lazy-load.ts
  src/hooks/use-styles.test.ts
  src/hooks/use-styles.ts
Due: format, lint

style: format documentation files with oxfmt
  docs/src/content/docs/advanced/css-variables.mdx
  docs/src/content/docs/advanced/custom-audio-sources.mdx
  docs/src/content/docs/advanced/imperative-api.mdx
  docs/src/content/docs/advanced/performance.mdx
  docs/src/content/docs/advanced/styling.mdx
  docs/src/content/docs/api/types.mdx
  docs/src/content/docs/api/utilities.mdx
  docs/src/content/docs/components/bars.mdx
  docs/src/content/docs/components/container.mdx
  docs/src/content/docs/components/path.mdx
  docs/src/content/docs/components/progress.mdx
  docs/src/content/docs/examples/accessibility.mdx
  docs/src/content/docs/examples/audio-player.mdx
  docs/src/content/docs/examples/realtime.mdx
  docs/src/content/docs/examples/voice-message.mdx
  docs/src/content/docs/guides/quickstart/index.mdx
  docs/src/content/docs/hooks/use-audio-progress.mdx
  docs/src/content/docs/index.mdx
Due: none

docs: expand documentation with components, hooks, examples, and advanced guides (#20)
  docs/src/components/Sidebar.astro
  docs/src/config/navigation.ts
  docs/src/content/docs/advanced/css-variables.mdx
  docs/src/content/docs/advanced/custom-audio-sources.mdx
  docs/src/content/docs/advanced/imperative-api.mdx
  docs/src/content/docs/advanced/performance.mdx
  docs/src/content/docs/advanced/styling.mdx
  docs/src/content/docs/api/types.mdx
  docs/src/content/docs/api/utilities.mdx
  docs/src/content/docs/components/bars.mdx
  docs/src/content/docs/components/components/bars-demo.tsx
  docs/src/content/docs/components/components/container-demo.tsx
  docs/src/content/docs/components/components/path-demo.tsx
  docs/src/content/docs/components/components/progress-demo.tsx
  docs/src/content/docs/components/container.mdx
  docs/src/content/docs/components/path.mdx
  docs/src/content/docs/components/progress.mdx
  docs/src/content/docs/examples/accessibility.mdx
  docs/src/content/docs/examples/audio-player.mdx
  docs/src/content/docs/examples/components/accessible-player.tsx
  docs/src/content/docs/examples/components/audio-player.tsx
  docs/src/content/docs/examples/components/realtime.tsx
  docs/src/content/docs/examples/components/voice-message.tsx
  docs/src/content/docs/examples/realtime.mdx
  docs/src/content/docs/examples/voice-message.mdx
  docs/src/content/docs/guides/installation/index.mdx
  docs/src/content/docs/guides/quickstart/index.mdx
  docs/src/content/docs/hooks/use-audio-progress.mdx
  docs/src/content/docs/index.mdx
  docs/src/layouts/BaseLayout.astro
Due: format, lint

fix: restore resize animations and fix style injection on client navigation
  src/components/bars.tsx
  src/hooks/use-styles.ts
Due: format, lint

refactor: update hero tagline to 'Waveforms for React'
  docs/src/pages/index.astro
Due: none

perf: reduce bundle size to stay within 5kB limit
  src/components/bars.tsx
  src/hooks/use-styles.ts
Due: format, lint

fix: restore resize animations and style injection (#21)
  src/components/bars.tsx
  src/hooks/use-styles.ts
Due: format, lint

refactor: update hero tagline to 'Waveforms for React' (#22)
  docs/src/pages/index.astro
Due: none

chore: bump size-limit to 5.1 kB for API surface changes
  package.json
Due: format

Set up Vite+ as unified toolchain
  CLAUDE.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/bars.bench.tsx
  src/components/bars.rerender.test.tsx
  src/components/bars.test.tsx
  src/components/path.test.tsx
  src/components/progress.bench.tsx
  src/components/progress.rerender.test.tsx
  src/hooks/use-audio-progress.test.ts
  src/hooks/use-interaction.test.tsx
  src/hooks/use-is-client.test.ts
  src/hooks/use-lazy-load.test.ts
  src/hooks/use-styles.test.ts
  src/lib.bench.ts
  src/lib.memory.test.ts
  src/lib.test.ts
  test/package.json
  tsdown.config.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: format, lint

fix: use .ts extension for tsdown config import
  vite.config.ts
Due: format, lint

fix: resolve vp check lint errors and warnings
  docs/src/content/docs/examples/components/realtime.tsx
  docs/tsconfig.json
  src/components/bars.test.tsx
  src/components/path.test.tsx
  test/src/app/music-player.tsx
  tsdown.config.ts
Due: format, lint

refactor: inline tsdown config into vite.config.ts
  tsdown.config.ts
  vite.config.ts
Due: format, lint

refactor: merge vitest config into vite.config.ts
  vite.config.ts
  vitest.config.ts
Due: format, lint

chore: format package.json and workspace config
  docs/package.json
  package.json
  pnpm-workspace.yaml
Due: format

fix: resolve remaining lint errors
  docs/src/content/docs/components/wavo-example.tsx
  docs/src/content/docs/examples/components/accessible-player.tsx
  docs/src/content/docs/examples/components/audio-player.tsx
  docs/src/content/docs/examples/components/realtime.tsx
  docs/src/content/docs/examples/components/voice-message.tsx
  vite.config.ts
Due: format, lint

fix: scope root lint to src/, lint docs/test after build
  .github/workflows/ci.yml
  vite.config.ts
Due: format, lint

fix: use bundler moduleResolution for vite-plus/test imports
  tsconfig.json
Due: format

refactor: replace Turbo with vp run for workspace orchestration
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  turbo.json
Due: format

refactor: replace pnpm/lefthook with vp commands throughout
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CLAUDE.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  test/playwright.config.ts
  vite.config.ts
Due: format, lint

refactor: use setup-vp action in CI workflows
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix: run Playwright via vp exec to avoid vite-plus-test expect conflict
  .github/workflows/ci.yml
  package.json
  test/package.json
Due: format

fix: update next-env.d.ts route types path for Next.js dev server
  test/next-env.d.ts
Due: format, lint

fix: strip vp banner from size-limit JSON output in CI
  .github/workflows/ci.yml
Due: none

Set up Vite+ as unified toolchain (#24)
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CLAUDE.md
  docs/package.json
  docs/src/content/docs/components/wavo-example.tsx
  docs/src/content/docs/examples/components/accessible-player.tsx
  docs/src/content/docs/examples/components/audio-player.tsx
  docs/src/content/docs/examples/components/realtime.tsx
  docs/src/content/docs/examples/components/voice-message.tsx
  docs/tsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/bars.bench.tsx
  src/components/bars.rerender.test.tsx
  src/components/bars.test.tsx
  src/components/path.test.tsx
  src/components/progress.bench.tsx
  src/components/progress.rerender.test.tsx
  src/hooks/use-audio-progress.test.ts
  src/hooks/use-interaction.test.tsx
  src/hooks/use-is-client.test.ts
  src/hooks/use-lazy-load.test.ts
  src/hooks/use-styles.test.ts
  src/lib.bench.ts
  src/lib.memory.test.ts
  src/lib.test.ts
  test/next-env.d.ts
  test/package.json
  test/playwright.config.ts
  test/src/app/music-player.tsx
  tsconfig.json
  tsdown.config.ts
  turbo.json
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: format, lint

fix: remove 'Zero fluff, pure data' from hero tagline
  docs/src/pages/index.astro
  package.json
Due: format

fix: remove 'Zero fluff, pure data' from hero tagline (#25)
  docs/src/pages/index.astro
  package.json
Due: format

style: format docs files with oxfmt
  docs/source.config.ts
  docs/src/components/DemoCard.tsx
  docs/src/components/DynamicWaveformShowcase.tsx
  docs/src/components/demos/accessible-player.tsx
  docs/src/components/demos/audio-player.tsx
  docs/src/components/demos/bars-demo.tsx
  docs/src/components/demos/basic-waveform.tsx
  docs/src/components/demos/container-demo.tsx
  docs/src/components/demos/path-demo.tsx
  docs/src/components/demos/progress-demo.tsx
  docs/src/components/demos/realtime.tsx
  docs/src/components/demos/voice-message.tsx
  docs/src/components/demos/waveform-with-progress.tsx
  docs/src/components/demos/wavo-example.tsx
  docs/src/components/docs-layout.tsx
  docs/src/components/mdx.tsx
  docs/src/components/provider.tsx
  docs/src/components/resizable-container.tsx
  docs/src/hooks/use-fps.ts
  docs/src/hooks/use-prefers-reduced-motion.ts
  docs/src/hooks/use-resizable.ts
  docs/src/lib/source.ts
  docs/src/pages/_layout.tsx
  docs/src/pages/_root.tsx
  docs/src/pages/docs/[...slugs].tsx
  docs/src/pages/docs/_layout.tsx
  docs/src/pages/index.tsx
  docs/src/waku.server.ts
  docs/waku.config.ts
Due: format, lint

fix: resolve CI lint failures for docs workspace
  docs/package.json
  docs/src/components/docs-layout.tsx
  pnpm-lock.yaml
Due: format, lint
